h1 {
	padding-bottom: 40px;
}

a {
	text-decoration: none;
	-webkit-transition: all 1s;
}

a:hover {
	-webkit-transition: all 1s;
}

#session_email {
	width: 130px;
	font-size: 12px;
	padding-top: 2px;
}

#session_password {
	width: 130px;
	font-size: 12px;
	padding: 2px;
}

.actions {
	font-size: 20px;
	padding: 10px;
}

@media screen and (max-width: 500px) {
	
	h1 {
		font-family: sans-serif;
		font-weight: 100; 
	}
		tbody, tr, td {
			padding: 10px;
			display: inline-block;
		}
} 


