#container {
	padding-top: 30px;
	padding-bottom: 15px;
	vertical-align: top;
	font-size: 14px;
}

h1 {
  margin-top: 25px;
  margin-bottom: -25px;
}

#contact_name, #contact_email, #contact_message {
  display: block;
  width: 25%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
  -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

#contact_message {
  height: auto;
  word-wrap: break-word;
  padding-bottom: 100px;
}

.submit-button {
  padding: 5px 10px;
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.3333333;
  border-radius: 6px;
  background-color: white;
  border-color: white;
  color: black;
  display: inline-block;
}

label {
  font-size: 20px;
  padding-bottom: 1%;
  padding-top: 10px;
  display: inline-block;
  margin-top: 2%;
}

div.field_with_errors {
  display: block;
  font-size: 14px;
  border-radius: 4px;
  padding: 10px 15px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}

a {
  text-decoration: none;
	-webkit-transition: all 1s;
}

a:hover {
	-webkit-transition: all 1s;
}

div.actions {
	color: black;
	font-size: 20px;
}

@media screen and (max-width: 500px) {

	#contact_name, #contact_email, #contact_message {
	width: 100%;
	font-size: 12px;
	padding: 5px;
  margin-left: -5px;
}

  #contact_message {
    height: 130px;
  }

  label {
    padding-bottom: 3%;
  }

  h1 {
    padding-bottom: 15px;
  }

  div#error_explanation {
   width: 100%;
   height: auto;
   margin-top: 50px;
   border: 2px solid red;
   padding: 0px;
   padding-bottom: 0;
   background-color: #f0f0f0;
  }

  div#error_explanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 10px;
    font-size: 12px;
    margin: -20px;
    background-color: #c00;
    color: #fff;
  }

  div#error_explanation ul li {
    font-size: 15px;
    list-style: square;
    padding: 5px;
  }

  ul {
    color: black;
  }
}
