h2 {
	text-align: center;
	margin-bottom: 300px; 
}

h3 {
	margin-top: 110px;
}

a {
	text-decoration: none;
	-webkit-transition: all 1s;
}

a:hover {
	-webkit-transition: all 1s;
}

h4 {
	padding-left: 15px;
}

div#messages {
	border: 2px solid black;
	background-color: white;
  position: fixed;
  width: 470px;
  height: 200px;
  top: 110px;
  left: 370px;
  overflow: scroll;
 	z-index: 42;
}
input#user {
	border: 1px solid black;
	background-color: white;
  position: fixed;
  width: 150px;
  top: 326px;
	left: 385px;
  overflow: scroll;
  z-index: 42;
}

#say {
	border: 2px solid black;
  width: 430px;
	height: 80px;
	position: fixed;
	top: 360px;
	left: 385px;
	z-index: 42;
}

/*Mobile Friendly, man!*/
@media screen and (max-width: 500px) {
	#say {
		border: 2px solid black;
    width: 250px;
    height: 80px;
    position: fixed;
    top: 340px;
    left: 15px; 
    z-index: 42;
	}

	input#user {
		border: 1px solid black;
    background-color: white;
    position: fixed;
    width: 105px;
    top: 305px;
    left: 15px;
    /*overflow: scroll;*/
    z-index: 42;
	}

	div#messages {
		border: 2px solid black;
    background-color: white;
    position: fixed;
    width: 254px;
    height: 200px;
    top: 80px;
    left: 9px;
    overflow: scroll;
    z-index: 42;
    padding-right: 10px;
	}

  h4 {
    color: #222;
  }

  body {
    background-image: contain;
  }
}
/*Overwrites the above media query*/
/*iPhone Sideways */
/*@media screen and (max-width: 700px) {
  #say {
    border: 2px solid black;
    width: 240px;
    height: 30px;
    position: fixed;
    top: 105px;
    left: 15px; 
    z-index: 42;
  }
  input#user {
    border: 1px solid black;
    background-color: white;
    position: fixed;
    width: 105px;
    top: 71px;
    left: 15px;
    overflow: scroll;
    z-index: 42;
  }

  div#messages {
    border: 2px solid black;
    background-color: white;
    position: fixed;
    width: 254px;
    height: 60px;
    top: 3px;
    left: 9px;
    overflow: scroll;
    z-index: 42;
    padding-right: 10px;
  }

  h4 {
    color: #222;
  }

  body {
    background-image: contain;
  }

}*/
