body {
	background-image: url(https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/11863379_515575801932102_2597317810921003087_n.jpg?oh=7d5c3e8cf2098747843519cc221ca0e8&oe=575758A5);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

h1 {
	padding-top: 100px;
	animation: fadein 4s;
}

h2 {
	padding: 30px;
}

h3 {
	animation: fadein 10s;
}

a {
	text-decoration: none;
	-webkit-transition: all 1s;
}

a:hover {
	-webkit-transition: all 1s;
}

div {
	animation: fadein 8s;
}

@keyframes fadein {
	from { opacity: 0; }
	to { opacity: 1;	}
}

@media screen and (max-width: 500px) {

	h1 {
		padding-top: 30px;
	}

	body {
		background-image: url(https://scontent-dfw1-1.xx.fbcdn.net/hphotos-xpt1/v/t1.0-9/11350516_485669958256020_3587860267325702075_n.jpg?oh=eddc2042b3353157770d66ff73e10309&oe=578B1150);
		background-image: contain;
	}
}
