<center><%= link_to 'Motivation', posts_path %></center>

<% if session[:user_type] = 'Administrator' %>
	<center><%= link_to 'Profile', administrators_path %></center>
	<center><%= link_to 'Log Out', logout_path %></center>

<%# elsif session[:user_type] = 'User' %>
	<!-- <center><%#= link_to 'Profile', users_path %><center> -->
	<!-- <center><%#= link_to 'Log Out', logout_path %></center> -->
<% else %>
	<h2><center><%= link_to "Administrator Login", administrators_login_form_path  %></center></h2>
<% end %>

