<!-- implement this when you can. Form renders, but doesn't post to the db. 03/03/16 -->
<center><h1>Get In Touch</h1>

<%= render partial: 'form' %>

<h3><%= link_to 'Back', posts_path %></h3></center>

