<center><h2>Talk About It</h2></center>
	<div id="messages">
		<%#= render @user %>
		<%= render @messages %>
</div>

<form>
  <center><input type="text" id="user" placeholder="Username Optional">
    <br>
	<textarea id ="say" data-behavior="room_speaker" placeholder="Lets Talk"></textarea></center>
</form>

<center><h3><%= link_to 'Motivate', posts_path %> |
<%= link_to 'Homepage', root_path %></h3></center>

<link rel="stylesheet" type="text/css" href="/css/rooms.css">