// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-image: url(https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xft1/v/t1.0-9/11863379_515575801932102_2597317810921003087_n.jpg?oh=7d5c3e8cf2098747843519cc221ca0e8&oe=575758A5);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

// Mobile Friendly, bro!
@media screen and (max-width: 500px) {
	h1, h2, h3, h4, center {
		// best so far
		// color: #2abd99;
		// 2nd, but gets lost in ocean
		// color: #305cd8;
		// this one!
		color: #37b6eb;
	}

	a {
		color: #37b6eb;	

		&:visited {
			color: #37b6eb;	
		}
	}

	body {
		background-image: contain;
	}
}

// h1 {
// 	padding-top: 100px;
// 	animation: fadein 4s;
// }

// h2 {
// 	padding: 30px;
// }

// h3 {
// 	animation: fadein 10s
// }

// a {
// 	text-decoration: none;
// }

// div {
// 	animation: fadein 8s;
// }

// @keyframes fadein {
// 	from { opacity: 0; }
// 	to { opacity: 1;	}
// }











