// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body {
	background-image: url(/img/motivates.jpg);
  background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
}

// Mobile Friendly, bro! Changes the background and text color when screen is smaller than 500px;
@media screen and (max-width: 500px) {
	h1, h2, h3, h4, center {
		color: #fff;
	}

	a {
		color: #fff;

		&:visited {
			color: #fff;
		}
	}

	body {
		background-image: url(/img/tracks.jpg);
    background-image: contain;
	}
}

// h1 {
// 	padding-top: 100px;
// 	animation: fadein 4s;
// }

// h2 {
// 	padding: 30px;
// }

// h3 {
// 	animation: fadein 10s
// }

// a {
// 	text-decoration: none;
// }

// div {
// 	animation: fadein 8s;
// }

// @keyframes fadein {
// 	from { opacity: 0; }
// 	to { opacity: 1;	}
// }











